.sentence-write{
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .sentence-write-text-input{
        display: flex;
        flex-direction: column;
        textarea{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            box-sizing:border-box;
            height: 100%;
            width: 100%;
            resize: none;
        }
    }
    .sentence-write-color-input{
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
    }
    .sentence-write-submit{
        align-self: center;
        button{
            border: none;
            border-radius: 5px;
            padding: 5px;
            background-color: #5eb95b;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background-color: black;
            }
        }
    }
}