.comment-info-list{
    overflow: scroll;
    height: 80vh;
    
    display: flex;
    flex-direction: column;
    gap: 10px;

    span{
        margin-left: auto;
        margin-right: auto;
        color: gray;
        font-style: oblique;
    }
    .comment-info-item{
        border: solid 1px black;
        border-radius: 5px;
        padding: 10px;

        display: flex;
        flex-direction: row;
        gap: 10px;
        .book-image{
            flex: 1;
            img{
                width: 100%;
                object-fit: fill;
            }
        }
        .comment-info{
            flex: 4;
        }
    }
}