.comment-item{
    display: flex;
    flex-direction: row;
    gap: 20px;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: black solid 1px;
    }
    .comment-content{
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .comment-content-info{
            border: 1px solid black;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            .user-name{
                margin: 10px;
                span{
                    font-weight: bold;
                }
            }
            .comment-text{
                margin: 0px 10px;
                .warning{
                    color: gray;
                    font-style: oblique;
                }
            }
            .comment-edit{
                height: 150px;
            }
            .seperator-comment{
                border-top: 1px solid black;
                width: 100%;
                align-self: flex-start;
            }
        }
    }
    .comment-content-button{
        display: flex;
        flex-direction: row;
        gap: 20px;
        button{
            padding: 0;
            border: none;
            background-color: white;
            cursor: pointer;
            font-size: 16px;
            &:hover{
                color: blue;
                text-decoration: underline;
            }
        }
    }
}