.sentence-info{
    height: 100vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow: hidden;
    .sentence-info-button{
        height: 35px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;

        border: 1px solid gray;
        padding: 10px;
        position: relative;
        button{
            font-size: 16px;
            border: none;
            border-radius: 5px;
            padding: 5px 20px;
            background-color: #428bca;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background-color: black;
            }
        }
    }
    
    .sentence-info-list{
        height: 95%;
        overflow: auto;
        border: 1px solid gray;
        padding: 5px;
    }
}