.audio-book{
    display: flex;
    gap: 10px;

    .pdf-toolbar{
        border: 1px solid gray;
        padding: 4px;
        display: flex;
        gap: 50px;
        justify-content: space-between;
        button{
            background-color: transparent;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }
        .zoom-section{
            display: flex;
            align-items: center;
        }
        .gotopage-section{
            display: flex;
            gap: 10px;
            align-items: center;
        }
        .ultilize-section{
            display: flex;
            gap: 10px;
            align-items: center;
            .chapter-change-button{
                display: flex;
                align-items: center;
                span{
                    font-size: 16px;
                }
            }
        }
        div{
            align-self: center;
        }
    }

    .pdf-viewer{
        border: 1px solid gray;
    }
    audio{
        width: 100%;
    }

    .highlight{
        background: yellow;
        opacity: 0.4;
    }
}

.normal-mode{
    position: static;
    margin-top: 20px;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    flex-direction: column;
}