.report-form{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(200,200,200,0.9);
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    .report-form-section{
        z-index: 1;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        position: absolute; 
        left: 50%; 
        top: 50%; 
        transform: translate(-50%, -50%); 
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2{
            justify-self: flex-start;
        }
        .report-form-input{
            // justify-content: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .report-form-button{
            justify-content: flex-end;
            display: flex;
            flex-direction: row;
            gap: 10px;
            button{
                border: none;
                padding: 10px;
                border-radius: 5px;
                transition: 0.3s;
                &:hover:enabled{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}